html {
    scroll-behavior: smooth;
}

.body {
    overflow: auto;
}

/* ---------------- SECTION 1 ----------------- */
#home{
    background: url(webbg.png);
    width: 100vw;
    height:100vh;
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-name{
    position: absolute;
    width: 471.55px;
    height: 85.64px;
    left: 58.15px;
    top: 46.52px;

    font-family: Mont;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 64px;

}

#navbar1 {
    background-color: rgb(223, 219, 189);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Mont;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    text-align: left;

    
}

#navbar1 a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    
}

#navbar1 a:hover {
    text-decoration: none;
    transform:translateY(10%);
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-title {
    font-family: Keep on Truckin;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 0.4em;
    margin-top: 7rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22rem;

    color: #91C7BA;

}

.main-title:hover {
    color: white;
    transform: scale(1.1);
}
@media (max-width: 900px){
    .main-title{
        font-size: 80px;
    }
}
 
/* ---------------- SECTION 2 ----------------- */
#about {
    background: rgb(241, 237, 201);
    width: 100vw;
    height:100vh;
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen2-heading1 {
    font-family: MADE Mirage;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 92px;
    text-align: center;
    margin: 0;

    color: #CF8562;
}

.screen2-heading2 {
    font-family: Geneva;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}

/* ---------------- SECTION 3 ----------------- */
#profile {
    background: rgb(243, 240, 207);
    width: 100vw;
    height:120vh;
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
/*.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 50vw;
}*/

.profile-picture {
    width: 40vw;
    margin-top: 2.5rem;
    margin-left: 4rem;
}
.biodata {
    padding: 0;
    font-family:'Gravity';
    margin:0;
    overflow-x: hidden;
}

.biodata h1 {
    font-family: Mont;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0.5rem;

    color: #2F2929;

    height: 61px;
    line-height: 61px;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    margin-top: 5%;
}

.biodata h2 {
    font-family: Mont;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 44px;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 1.6rem;
    padding-left: 2.5rem;
    padding-bottom: 3rem;
}

.biodata h6{
    height: 27px;
    font-family: Mont;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
    padding-top: 1.6rem;
    padding-left: 2.5rem;
}

.biodata h6:hover {
    color:  #91C7BA;
}
.biodata p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 450px;
    margin: 0;
    padding-top: 1.6rem;
    padding-left: 2.5rem;
}

.biodata h3{
    height: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 0;
    background: #222952;
    border: 1px solid #222952;
    border-radius: 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 20px 10px;

}
/*column buat backup*/
.column { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 57vw;
    height: 30vw;
    position: relative;
    top: 2vw;
}

.skills {
    /*margin-right: 20rem;*/
    padding-right:0;
}

.expertise {
    /*margin-right: 0rem;*/
    padding-right: 0;
    position: relative;
    right: 7vw;


}

/* ---------------- SECTION 4 ----------------- */
#photography {
    background: rgb(238, 236, 212);
    width: 100vw;
    height:150vh;
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
    
    
}

.photos {
    width: 87%;
    height: 60%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content:center;
    flex-wrap: wrap;
    position: relative;
    top: 10rem;
}

#photography h1 {
    font-family: Mont;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    position: relative;
    bottom: -5rem;
    text-align: left;
    position: relative;
    left: 6rem;
    bottom: -5rem;
}
.photo {
    width: 23%;
}

.photos img:hover {
    opacity: 0.5;
}

/*#photography button {
    position: relative;
    top: 6rem;
    left: 1rem;

}*/

/*------------------ FOOTER --------------------*/
.footer-rev {
    background: rgb(138, 174, 177);
}

.footer-rev h1 {
    color: white;
    margin-left: 3rem;
}
.footer-rev p {
    color: white;
    margin-left: 3rem;
    margin-top: 1rem;
}

.footer-right {
    width: 70vw;
    line-height: 1.3;
}

.footer-left {
    width: 30vw;

}

.sosmed {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.fa {
    padding: 20px;
    font-size: 30px !important;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}


.fa-google {
  color: white;
}

.fa-google:hover {
    opacity: 0.7;
    transform: scale(1.5);
    text-decoration: none;
    color: rgb(63, 63, 172);
}

.fa-linkedin {
  color: white;
}

.fa-linkedin:hover {
    opacity: 0.7;
    transform: scale(1.5);
    text-decoration: none;
    color: grey;
}

.fa-instagram {
  color: white;
}

.fa-instagram:hover {
    opacity: 0.7;
    transform: scale(1.5);
    text-decoration: none;
    color: rgb(153, 54, 109);
}

/* DISPLAY KEDUA TERBESAR */
@media (max-width: 1038px){
    .biodata h2 {
        position: relative;
        top: 3rem;
    }
}

/* DISPLAY KETIGA TERBESAR */
@media (max-width: 820px){
    #profile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 160vw;
    }
    
    .biodata {
        height: 100vw;
        position: relative;
        left: 1.5rem;
    }

    .biodata h2 {
        position: relative;
        top: 0rem;
    }

    #photography {
        height: 270vw;
    }
    .photos {
        width: 80vw;
    }

    .photo {
        width: 39vw;
    }

    .photos h1 {
        text-align: left;
    }
}
/* DISPLAY I-PAD TERBESAR */
@media (max-width: 545px){
    .biodata h2 {
        position: relative;
        top: 2rem;
    }

    #photography h1 {
        font-size: 35px;
    }
}


/* DISPLAY HANDPHONE */
@media (max-width: 430px){


.main-title {
    font-size: 55px;
    line-height: 50px;
}

.screen2-heading1 {
    font-size: 50px;
    line-height: 60px;
}

.screen2-heading2 {
    font-size: 12px;
    line-height: 20px;
}

#profile {
    height: 230vw;
}

.biodata {
    height: 200vw;
    overflow-x: hidden;
}

.profile-picture {
    width: 50vw;;
}

.biodata h1 {
    font-size: 35px;
    line-height: 40px;
}

.biodata h2 {
    position: relative;
    top: 1rem;
    font-size: 25px;
}

.biodata h6 {
    font-size: 20px;
}

.biodata p {
    font-size: 15px;
}

.fa {
    position: relative;
    top: -0.5rem;
}

#photography {
    overflow-x: hidden;
}
#photography h1 {
    font-size: 30px;
}
}

@media (max-width: 375px){

    .navbar1 {
        font-size: 5px;
        width: 100%;
        overflow: hidden;
        justify-content: center;
    }

    .main-title {
        font-size: 50px;
        line-height: 50px;
        position: relative;
        right: -0.5rem;
        letter-spacing: 0.5rem;

    }

    #profile {
        height: 240vw;
    }

    .biodata {
        overflow-x: hidden;
    }
    
    #photography {
        height: 340vw;
        overflow-x: hidden;
    }

    #photography button {
        left: 0.5rem
    }

    #photography h1 {
        position: relative;
        left: 2rem;
        margin:0;
        padding:0;
    }

   

}

@media (max-width: 540px){
}
